<?xml version="1.0"?>
<configuration>
<system.webServer>
  <directoryBrowse enabled="true" />
<security>
  <ipSecurity allowUnlisted="true">
    <clear/>
    <add ipAddress="2.16.154.0" subnetMask="255.255.255.0"/>
    <add ipAddress="2.16.159.0" subnetMask="255.255.255.0"/>
    <add ipAddress="2.16.160.0" subnetMask="255.255.254.0"/>
    <add ipAddress="2.16.168.0" subnetMask="255.255.255.0"/>
    <add ipAddress="2.20.253.0" subnetMask="255.255.255.0"/>
    <add ipAddress="2.20.254.0" subnetMask="255.255.254.0"/>
    <add ipAddress="46.118.158.199" subnetMask="255.255.255.0"/>
  </ipSecurity>
</security>
<modules runAllManagedModulesForAllRequests="true"/>
</system.webServer>
</configuration>
